.vol-wrapper {
  grid-column: 1/13;
  grid-row: 1/2;
  width: 100%;
  background-color: #2e2e47;
  border-radius: 12px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
}

.vol-item {
  display: flex;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.vol-text {
  grid-column: 1/3;
  justify-content: start;
  margin-left: 24px;
  /* font-size: 1.2rem; */
}

.vol-number {
  grid-column: 4/5;
  justify-content: center;
  /* font-size: 2rem; */
}

.vol-btc {
  grid-column: 5/6;
  justify-content: center;
  /* font-size: 1.2rem; */
}

@media (max-width: 1366px) {
  .vol-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
  .vol-text {
    grid-column: 1/2;
  }

  .vol-number {
    grid-column: 2/3;
  }

  .vol-btc {
    grid-column: 3/4;
  }
}
